<h1>Welcome <%= current_user.first_name %></h1>
<%= link_to "Edit Profile", edit_user_registration_path, :class => 'ui purple basic button' %>

<h3>Current Trips</h3>

<% @trips.each do |trip| %>
<div><%= trip.name %></div>
<div><%= trip.description %></div>
<% end %>