<h1>Here you can take a deeper look at the places we'll be visitng on our trip to <%= @trip %> </h1>
<p>Click on any location to read more</p>

    <% @locations.each do |location| %>
      <%= "#{location.name}, #{location.type}" %> <!-- then in our show method you can do location description as well -->
    <% end %>

    <!-- link_to go back to trips -->